.header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: relative; 
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.1em;
}

.title-long {
  font-size: 0.5em;
  color: #333;
  margin-top: 10px; 
}

.logo {
  width: 150px; 
  position: absolute; 
  top: 50%;
  left: 0; 
  transform: translateY(-50%);
}

